a { color: #c95c50; text-decoration: none; }
a:hover, a:focus { color: #c95c50; text-decoration: underline; outline: none; }

.top-bar { background-color: #dc932c; height: 30px; }
.top-bar p, .top-bar a { color: white; line-height: 30px; }

.navbar { position: absolute; min-height: 80px; margin-top: 30px; margin-bottom: 20px; background: none; border: none; }
.navbar > .container { background: rgba(255,255,255,0.6); }
.navbar > .container .navbar-brand { padding: 0px 0px 50px 50px; margin-top: -5px; margin-left: 0px; background: url('../icons/sprites.png') 0 0 no-repeat; }
.navbar-brand:hover, .navbar-brand:focus { text-decoration: none; }
.navbar-inverse .navbar-nav > li > a { color: #333; text-shadow: 1px 1px rgba(255,255,255,0.75); line-height: 50px; }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
  .navbar-inverse .navbar-nav > li > a.active { color: #fff; background-color: #dc932c; text-shadow: 1px 1px rgba(201,92,80,0.75); }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus { color: #ffffff; background-color: #080808; }
.navbar-nav {float: right; margin: 0;}

header img { width: 100%; min-height: 80px; }

h1 { color: #dc932c; }
h2 { font-size: 1.25em; margin: 20px 0; padding-right: 20px; color: #dc932c; font-weight: 400; }
h2.my-subtitle { font-size: 1.5em; margin-top: 0px; }
h3 { color:#dc932c; font-weight:400; }

.footer { font-size: 0.9em; padding-top: 5px; background-color: #DC932C; overflow: hidden; }
.footer p, .footer a { margin: 0; color: white; }

.submission-div { border-radius: 8px; margin-top: 10px; margin-bottom: 30px; }
.submission-div h2 { color: #000; font-weight: 800; }

.speakers dt { width: 240px; margin-bottom: 20px; font-weight: 400; }
.speakers dd { margin-left: 260px }

.sched { font-size: 1.2em; margin-left: 10%; margin-right: 10%; }
.sched td { padding-left: 20px; padding-right: 20px; }
.sched .name { font-weight: 800; width: 240px; }
.sched .title { font-style: italic; }
