{% extends "templates/basic.html" %}
{% set active_page = "About" %}

{% block title %}Meter- to Millimeter Emission from Cool Stellar Systems{% endblock %}

{% block content %}

<h2>Blah blah</h2>

<p>The Cambridge Workshop on Cool Stars, Stellar Systems, and the Sun ("Cool
  Stars") has been running for 37 years. The first workshop was held in
  Cambridge, Massachusetts in 1980. Since then, Cool Stars has been held
  largely biennially, alternating between North America and Europe, where
  approximately 400 international experts in Low-Mass Stars, Solar Physics,
  and Exoplanets meet to exchange ideas in a cross-disciplinary and friendly
  environment.</p>

<h2>Code of Conduct</h2>

<div class="c12 row">
  <p>Blah blah.</p>
</div>

<h2>Acknowledgements</h2>

<div class="c12 row">
  <p>Blah blah.</p>
</div>

<h2>Website Privacy Policy</h2>

<div class="c12 row">
  <p>Blah blah.</p>
</div>

{% endblock content %}
